@import url(./normalize.css);

@font-face {
  font-family: 'Urbanist';
  src: url(./fonts/static/Urbanist-Regular.ttf);
}

@font-face {
  font-family: 'Urbanist';
  src: url(./fonts/static/Urbanist-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./fonts/static/Urbanist-Medium.ttf);
  font-style: medium;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./fonts/static/Urbanist-Italic.ttf);
  font-style: italic;
}

.page {
  background-color: #d3c2c2;
  font-family: 'Urbanist';
}

.page__container {
  width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
}

.payment {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0 10px 50px rgb(99, 98, 98);
}

.payment__title {
  font-family: 'Urbanist';
  font-weight: 600;
  font-size: 26px;
}

.payment__add {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgb(158, 157, 157);
  background: 0;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  cursor: pointer;
  margin: 10px auto;
}

.payment__card {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.payment__submit {
  font-size: 18px;
  color: white;
  width: 350px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  background: radial-gradient(rgb(117, 51, 172),rgb(93, 20, 153));
  margin: 40px auto;
  cursor: pointer;
}

.payment__check {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.payment__check:checked + .payment__span::before {
  background-image: url(./images/check-purple.svg);
}

.payment__span {
  position: relative;
  grid-area: check;
}

.payment__span::before {
  content: '';
  width: 35px;
  height: 35px;
  background-image: url(./images/check-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.payment__label {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  grid-area: check;
  align-self: center;
}

.payment__method {
  width: 350px;
  margin: 10px auto;
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px 50px;
  grid-template-areas: "logo number number check"
    "expires date def check";
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.payment__method:has(input:checked) {
  border: 3px solid rgb(117, 51, 172);
}

.payment__method-active .payment__method-check{
  background-image: url(./images/check-purple.svg);
}

.payment__method-logo {
  grid-area: logo;
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: center;
}

.payment__method-number {
  grid-area: number;
  justify-self: flex-start;
}

.payment__method-check {
  grid-area: check;
  background-image: url(./images/check-black.svg);
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: flex-end;
  align-self: center;
}

.payment__method-expires {
  grid-area: expires;
  justify-self: center;
  width: 50px;
}

.payment__method-date {
  grid-area: date;
  justify-self: flex-start;
  font-style: italic;
}

.payment__method-default {
  grid-area: def;
  justify-self: center;
  font-weight: bold;
}

.payment__method-default:after {
  content: 'Default';
}

.card__overlay {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  min-width: 420px;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
  height: max-content;
}

.card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
}

.card_visible {
  visibility: visible;
  opacity: 1;
}

.card__add {  
  margin: 30px auto;
}

.card__data {
  display: grid;
  margin: 20px auto;
  column-gap: 50px;
  justify-content: center;
  grid-template-columns: 200px 100px;
  grid-template-rows: repeat(2, 1fr);
}

.card__image {
  margin: 20px auto;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card__pic {
  margin: 30px auto;
  position: relative;
  display: grid;
  grid-template-rows: 30px 50px 50px 50px;
  grid-template-columns: 100px 50px 70px auto ;
  grid-template-areas:
  ". . . ." 
  "chip . . ."
  "name name date logo"
  "number number number logo";
  width: 300px;
  height: 180px;
  border-radius: 10px;
  background: linear-gradient(120deg, black,rgb(98, 0, 255),rgb(162, 11, 221),purple,rgb(199, 3, 69));
}

.card__visa-logo {
  grid-area: logo;
  transform: rotate(270deg);
  width: 100px;
  height: 100px;
  align-self: center;
  justify-self: flex-end;
  background-position: bottom;
  background-size: cover;
}

.card__chip {
  width: 40px;
  height: 40px;
  grid-area: chip;
  align-self: flex-end;
  margin-bottom: -20px;
  margin-left: 20px;
}

.card__name {
  color: white;
  grid-area: name;
  align-self: flex-end;
  margin: 0;
  margin-left: 20px;
}

.card__date {
  color: white;
  grid-area: date;
  align-self: flex-end;
  justify-self: end;
  margin: 0;
}

.card__number {
  color: white;
  grid-area: number;
  margin-left: 20px;
  word-spacing: 10px;
  letter-spacing: 1px;
}

.card__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 30px;
}

.card__input {
  border-radius: 4px;
  height: 24px;
  border: 0;
  background-color: rgb(223, 222, 222);
  margin-top: 5px;
}

.card__input:focus {
  outline: 1px solid black;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 30px;
}

.card__cancel {
  color: rgb(117, 51, 172);
  font-weight: 600;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  background: 0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(165, 165, 165);
  cursor: pointer;
}

.card__submit {
  color: white;
  width: 140px;
  height: 50px;
  background: radial-gradient(rgb(103, 0, 221),rgb(131, 20, 153));
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(165, 165, 165);
  cursor: pointer;
}

.card__submit:disabled {
  cursor:auto;
  background: #d3c2c2;
}

.validity {
  position: absolute;
  top: 45px;
  font-weight: normal;
  color:red;
  visibility: hidden;
}

.validity_visible {
  visibility: visible;
}